<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="person" class="org.springframework.wx.ioctest.User">
		<property name="id" value="18"></property>
		<property name="name" value="wuxin"></property>
	</bean>

	<context:component-scan base-package="spring-framework" annotation-config="true"></context:component-scan>

	<bean class="org.springframework.wx.ioctest.bfpp.MyBeanFactoryPostProcessor"></bean>

	<beans profile="dev">
		<bean id="name" class="org.springframework.wx.ioctest.User">
		</bean>
	</beans>


</beans>